* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: neon;
    src: url(../Fuentes/Neoneon.otf);
}
@import 'card';
@import 'header';
@import 'footer';
@import 'carrito';
@import 'pages';
@import 'media';


